

h1,h2 {
    color:darkslateblue;
}

span {
    color: #f72585;
}

#signup {   /* id selector */
    color:whitesmoke;
    background-color: rgb(195, 248, 248);
}

.tag {   /*class selector */
    color: #d00000;
    text-decoration: none;
    font-weight: 700;
}

footer a {  /* descendent selector */
    color:#e63946;
}

h2 + button { /* adjacent selector */
    background-color: deeppink;
}

footer > a { /* direct child selector */
    color:#2e835b;
}

input[type="text"] {  /* attribute selector */
    color:rgb(94, 5, 79);
    border-radius: 10px;
}

.post button:hover { /* pseudo class */
    background-color: darkred;
    color:whitesmoke;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: #06d6a0;
    color:#335c67;
}

.post:nth-of-type(2n) {
    background-color: #81b7f7;
}

h2::first-letter { /* pseudo element */
    font-size: 40px;
}

p {
    font-size: 20px;
}

p {
    color: #7400b8;
}

p::selection {
    background-color: #ffb703;
}

img {
    width: 500px;
    border: 4px solid red;
}

section {
    padding : 30px;
}

form {
    margin: 30px 10px;
}

/* specificity rule : Inline styles > External styles(Id > Class > Element) */

/* if equal in specificity then the one which has been declared later (comes after) wins */
